<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">TransLogic</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">  
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            
            <!-- <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent" class="margin_navbar">Action</button> -->
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span> Edward Paolo</span>
          </a><!-- End Profile Iamge Icon -->           
        </li><!-- End Profile Nav -->  
      </ul>
    </nav><!-- End Icons Navigation -->
</header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/home"> 
            <i class="bi bi-grid"></i><span>Inicio</span>
          </a>
        </li><!-- End Dashboard Nav -->
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/travels">
            <i class="bi bi-geo-alt"></i><span>Viajes</span>
          </a>
        </li><!-- End Forms Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/drivers">
            <i class="bi bi-truck"></i><span>Conductores</span>
          </a>
        </li><!-- End Profile Page Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/admins">
            <i class="bi bi-people"></i><span>Administradores</span>
          </a>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/register">
            <i class="bi bi-card-list"></i>
            <span>Horarios</span>
          </a>
        </li><!-- End horarios Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/faq">
            <i class="bi bi-question-circle"></i>
            <span>F.A.Q</span>
          </a>
        </li><!-- End F.A.Q Page Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/contact">
            <i class="bi bi-envelope"></i>
            <span>Contacto</span>
          </a>
        </li><!-- End Contact Page Nav -->
  
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/">
            <i class="bi bi-power"></i>
            <span>Cerrar Sesión</span>
          </a>
        </li><!-- End Login Page Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/error-404">
            <i class="bi bi-dash-circle"></i>
            <span>Error 404</span>
          </a>
        </li><!-- End Error 404 Page Nav -->

      </ul>
  
    </aside><!-- End Sidebar-->

    <main id="main" class="main">

      <div class="pagetitle">
        <h1>Gestión de Viajes</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Programar</li>
            <li class="breadcrumb-item active">Programados</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
  
      <section class="section">
        <div class="row">
          <div class="col-lg-6">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Programar un viaje</h5>
  
                <!-- General Form Elements -->
                <form>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Origén</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Destino</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">Tramos</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">Fecha</label>
                    <div class="col-sm-10">
                      <input type="date" class="form-control">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputTime" class="col-sm-2 col-form-label">Hora</label>
                    <div class="col-sm-10">
                      <input type="time" class="form-control">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Conductor ID</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" style="height: 100px"></textarea>
                    </div>
                  </div>
                  <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Ruta</legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                          Habilitada
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                          Deshabilitada
                        </label>
                      </div>
                    </div>
                  </fieldset>
  
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Vehiculo</label>
                    <div class="col-sm-10">
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccionar</option>
                        <option value="1">Bus Cama</option>
                        <option value="2">Bus de dos pisos</option>
                        <option value="3">Bus simple</option>
                      </select>
                    </div>
                  </div>
  
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Crear Viaje</button>
                    </div>
                  </div>
  
                </form><!-- End General Form Elements -->
  
              </div>
            </div>
  
          </div>
  
          <div class="col-lg-6">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Lista Viajes</h5>
  
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Origén</th>
                      <th scope="col">Destino</th>
                      <th scope="col">ID</th>
                      <th scope="col">Fecha</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Lima</td>
                      <td>Trujillo</td>
                      <td>#2487578</td>
                      <td>25/09/2022</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Cuzco</td>
                      <td>Arequipa</td>
                      <td>#4785123</td>
                      <td>26/09/2022</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Tacna</td>
                      <td>Piura</td>
                      <td>#4236545</td>
                      <td>26/09/2022</td>
                    </tr>
                  </tbody>
                </table>
  
              </div>
            </div>
  
          </div>
        </div>
      </section>
  
    </main><!-- End #main -->
  