// ------------------------------- App Component -------------------------------
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 300px;
    background: #000000;
}

mat-drawer-container {
    height: 100%;
}

// ------------------------------- Toolbar -------------------------------
mat-toolbar {
    background: #000000;

    position: sticky;
    top: 0;
    z-index: 100;
}

ul {
    li {
        list-style: none;
    }
}

button {
    border: 0;
    outline: none;
    background: transparent;
}

.user {
    font-size: 14px;
    color: white;
}

.user-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user-image-icon {
    height: 18px;
    font-size: 16px;
}

::ng-deep {
    .mat-menu-content {
        width: 300px;
    }
}

// ------------------------------- Content -------------------------------
.page {
    padding: 0 1rem;
    background: #f6f1f9;

    &__box {
        min-height: 120px;
        background: #0e0e0e;
        color: #0e0e0e;
        font-size: 36px;
        font-weight: 500;
        letter-spacing: 4px;
        text-align: center;
        -webkit-text-stroke: 2px #ff8000;
    }
    &_content {
        min-height: calc(100vh - 160px);
        border: 1px solid #ff8000;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-top: -3rem;
        background: #424140;
        color: #020202;
    }
}

// General *
.contenido {
    margin: 20px;
}
.button{
    padding-left: 15px;
    transition: .5s;
}
.button:hover {
    background-color: black;
    color:white;
    cursor: pointer;
}
.img_button {
    padding-right: 10px;
}
.h2 {
    display: inline-block;
    color: #000000;
    cursor: pointer;
    transition: 0.3s;
}
.h2:hover {
    color: #000000;
    cursor: pointer;
}

// Contact*
.contact .info-box {
  padding: 20px 40px;
}
.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #000000;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  margin: 20px 0 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  padding-right: 20px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #ffffff;
  background: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #000000;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #ffffff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #000000;
  border-top-color: rgb(255, 255, 255);
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #ff8000;
}
.contact .php-email-form input {
  padding: 10px 15px;
}
.contact .php-email-form textarea {
  padding: 12px 15px;
}
.contact .php-email-form button[type=submit] {
  background: #000000;
  border: 0;
  padding: 10px 30px;
  color: #ffffff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #000000;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.col-lg-6{
padding-top: 20px;
}

.pagetitle{
color: #ff8000;
}