<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">TransLogic</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">  
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            
            <!-- <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent" class="margin_navbar">Action</button> -->
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span> Edward Paolo</span>
          </a><!-- End Profile Iamge Icon -->           
        </li><!-- End Profile Nav -->  
      </ul>
    </nav><!-- End Icons Navigation -->
</header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/home"> 
            <i class="bi bi-grid"></i><span>Inicio</span>
          </a>
        </li><!-- End Dashboard Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/travels">
            <i class="bi bi-geo-alt"></i><span>Viajes</span>
          </a>
        </li><!-- End Forms Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/drivers">
            <i class="bi bi-truck"></i><span>Conductores</span>
          </a>
        </li><!-- End Profile Page Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/admins">
            <i class="bi bi-people"></i><span>Administradores</span>
          </a>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/faq">
            <i class="bi bi-question-circle"></i>
            <span>F.A.Q</span>
          </a>
        </li><!-- End F.A.Q Page Nav -->
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">
            <i class="bi bi-envelope"></i>
            <span>Contacto</span>
          </a>
        </li><!-- End Contact Page Nav -->
  
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/">
            <i class="bi bi-power"></i>
            <span>Cerrar Sesión</span>
          </a>
        </li><!-- End Login Page Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/error-404">
            <i class="bi bi-dash-circle"></i>
            <span>Error 404</span>
          </a>
        </li><!-- End Error 404 Page Nav -->

      </ul>
  
    </aside><!-- End Sidebar-->

    <main id="main" class="main">
<main id="contact" class="Contacto">
  <div class="pagetitle">
    <h1>Comunicate con Nostros</h1>

  </div><!-- End Page Title -->

  <section class="section contact">

    <div class="row gy-4">

      <div class="col-xl-6">

        <div class="row">
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-geo-alt"></i>
              <h3>Dirección</h3>
              <p>Avenida la Marina,<br>UPC San Miguel</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-telephone"></i>
              <h3>Llamanos</h3>
              <p>+51 910 201 392 123<br>+51 989 451 789 452</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-envelope"></i>
              <h3>Correo</h3>
              <p>soporte@translogic.com</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-clock"></i>
              <h3>Abierto</h3>
              <p>Lunes - Sabado<br>9:00AM - 05:00PM</p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-6">
        <div class="card p-4">
          <form action="" method="post" class="php-email-form">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Tú nombre" required>
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Tú correo" required>
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Asunto" required>
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Mensaje" required></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Mensaje enviado. Gracias!</div>

                <button type="button" class="btn btn-danger" style="background-color: #FF4800">Enviar Mensaje</button>
              </div>

            </div>
          </form>
        </div>

      </div>

    </div>

  </section>
</main><!-- End #main -->