<mat-nav-list>
    <div class="logo py-4">
        <a><img src="assets/img/logo.png" routerLink="/home"><span routerLink="/home">Translogic</span></a>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Applications</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/admins" routerLinkActive="list-item-active">
        <mat-icon>person</mat-icon>Administrator
    </a>
    <a mat-list-item routerLink="/groups" routerLinkActive="list-item-active">
        <mat-icon>group</mat-icon>Groups
    </a>
    <a mat-list-item routerLink="/drivers" routerLinkActive="list-item-active">
        <mat-icon>airline_seat_recline_normal</mat-icon>Drivers
    </a>
    <a mat-list-item routerLink="/travels" routerLinkActive="list-item-active">
        <mat-icon>map</mat-icon>Travels
    </a>
    <a mat-list-item routerLink="/routes" routerLinkActive="list-item-active">
        <mat-icon>place</mat-icon>Routes
    </a>
    <a mat-list-item routerLink="/vehicles" routerLinkActive="list-item-active">
        <mat-icon>drive_eta</mat-icon>Vehicles
    </a>
    <a mat-list-item routerLink="/tramos" routerLinkActive="list-item-active">
        <mat-icon>swap_vert</mat-icon>Tramos
    </a>
    <a mat-list-item routerLink="/faq" routerLinkActive="list-item-active">
        <mat-icon>question_answer</mat-icon>F.A.Q.
    </a>
    <a mat-list-item routerLink="/contact" routerLinkActive="list-item-active">
        <mat-icon>settings_phone</mat-icon>Contact
    </a>
    <a mat-list-item routerLink="/error404" routerLinkActive="list-item-active">
        <mat-icon>error</mat-icon>Error 404
    </a>
</mat-nav-list>