<mat-nav-list>
    <div class="logo py-4">
        <a><img src="assets/img/logo.png" routerLink="/home"><span routerLink="/home">Translogic</span></a>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APLICACIONES</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon>Inicio</a>
    <a mat-list-item routerLink="/travels" routerLinkActive="list-item-active"><mat-icon>map</mat-icon>Viajes</a>
    <a mat-list-item routerLink="/drivers" routerLinkActive="list-item-active"><mat-icon>drive_eta</mat-icon>Conductores</a>
    <a mat-list-item routerLink="/admins" routerLinkActive="list-item-active"><mat-icon>person</mat-icon>Administradores</a>
    <a mat-list-item routerLink="/faq" routerLinkActive="list-item-active"><mat-icon>question_answer</mat-icon>F.A.Q.</a>
    <a mat-list-item routerLink="/contact" routerLinkActive="list-item-active"><mat-icon>settings_phone</mat-icon>Contacto</a>
    <a mat-list-item routerLink="/error404" routerLinkActive="list-item-active"><mat-icon>error</mat-icon>Error 404</a>
</mat-nav-list>