// ------------------------------- Sidebar -------------------------------
.logo {
    text-align: center;
    padding: 2.6rem 1rem;
    
    a {
        //
        display: inline;
        //
        
        img {
            cursor: pointer;
            width: 40px;
            height: 40px;
        }
        span {
            cursor: pointer;
            padding-left: 10px;
            color: rgb(255, 255, 255);
            font-size: 26px;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
}

.mat-icon {
    vertical-align: center;
    margin-right: 1rem;
}

.mat-divider {
    border-top-width: 2px;
    border-color: #ff8000;
}

.mat-list-item {
    color: white !important;
    font-size: 1rem;
    height: 44px;
    margin-bottom: 4px;
    ::ng-deep {
        .mat-list-item-content {
            border-radius: 5px;
            margin: 0 8px;
            &:hover {
                background: #ff8000 !important;
                color: #424140;
            }
        }
    }
}

.list-item-active {
    color: white;
    ::ng-deep {
        .mat-list-item-content {
            background: #424140;
            color: #ff8000;
        }
    }
}

.mat-subheader {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
}