<div class="dialog">
  <div>
    <h1 mat-dialog-title>Descripcion del administrador</h1>
  </div>

  <div mat-dialog-content>
    <form [formGroup]="myForm">

      <!-- PRODUCT NAME -->
      <mat-form-field appearance="outline">
        <mat-label>Nombres</mat-label>
        <input formControlName="names" matInput type = "text" placeholder="Inserte sus nombres">
      </mat-form-field>

      <!-- PRODUCT NAME -->
      <mat-form-field appearance="outline">
        <mat-label>Apellidos</mat-label>
        <input formControlName="surnames" matInput type = "text" placeholder="Inserte sus apellidos">
      </mat-form-field>

      <!-- PRODUCT NAME -->
      <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input formControlName="email" matInput type = "email" placeholder="Inserte su correo">
      </mat-form-field>

      <!-- PRODUCT NAME -->
      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input formControlName="phone" matInput type = "number" placeholder="Inserte su número">
      </mat-form-field>

      <!-- PRODUCT NAME -->
      <mat-form-field appearance="outline">
        <mat-label>Apodo</mat-label>
        <input formControlName="nickname" matInput type = "text" placeholder="Inserte su apodo">
      </mat-form-field>

      <!-- PRODUCT NAME -->
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" matInput type = "password" placeholder="Inserte su contraseña">
      </mat-form-field>

    </form>
  </div>

  <span *ngIf="myForm.get('Inserte sus nombres')?.hasError('required') && myForm.get('Inserte sus nombres')?.touched" class="has-error"></span>
  <span *ngIf="myForm.get('Inserte sus apellidos')?.hasError('required') && myForm.get('Inserte sus apellidos')?.touched"
    class="has-error"></span>
  <span  type = "email" *ngIf="myForm.get('Inserte su correo')?.hasError('required') && myForm.get('Inserte su correo')?.touched" class="has-error"></span>
  <span *ngIf="myForm.get('Inserte su número')?.hasError('required') && myForm.get('Inserte su número')?.touched" class="has-error"></span>
  <span *ngIf="myForm.get('Inserte su apodo')?.hasError('required') && myForm.get('Inserte su apodo')?.touched"
    class="has-error"></span>
  <span *ngIf="myForm.get('Inserte su contraseña')?.hasError('required') && myForm.get('Inserte su contraseña')?.touched"
    class="has-error"></span>

  <!-- BUTTONS FOR SAVE AND CLOSE -->
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button class="cerrar" mat-dialog-close>Cerrar</button>
    <button mat-raised-button class="agregarAcualizar" [disabled]="myForm.invalid"
      (click)="addProduct()">{{actionBtn}}</button>
  </div>
</div>