
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="assets/img/logo.png" alt="">
          <span class="d-none d-lg-block">TransLogic</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div><!-- End Logo -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item dropdown pe-3">  
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              
              <!-- <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent" class="margin_navbar">Action</button> -->
              <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
              <span> Edward Paolo</span>
            </a><!-- End Profile Iamge Icon -->           
          </li><!-- End Profile Nav -->  
        </ul>
      </nav><!-- End Icons Navigation -->  
    </header><!-- End Header -->
  
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/home"> 
            <i class="bi bi-grid"></i><span>Inicio</span>
          </a>
        </li><!-- End Dashboard Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/travels">
            <i class="bi bi-geo-alt"></i><span>Viajes</span>
          </a>
        </li><!-- End Forms Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/drivers">
            <i class="bi bi-truck"></i><span>Conductores</span>
          </a>
        </li><!-- End Profile Page Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/admins">
            <i class="bi bi-people"></i><span>Administradores</span>
          </a>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/horarios">
            <i class="bi bi-card-list"></i>
            <span>Horarios</span>
          </a>
        </li><!-- End horarios Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/faq">
            <i class="bi bi-question-circle"></i>
            <span>F.A.Q</span>
          </a>
        </li><!-- End F.A.Q Page Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/contact">
            <i class="bi bi-envelope"></i>
            <span>Contacto</span>
          </a>
        </li><!-- End Contact Page Nav -->
  
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/">
            <i class="bi bi-power"></i>
            <span>Cerrar Sesión</span>
          </a>
        </li><!-- End Login Page Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/error-404">
            <i class="bi bi-dash-circle"></i>
            <span>Error 404</span>
          </a>
        </li><!-- End Error 404 Page Nav -->

      </ul>
  
    </aside><!-- End Sidebar-->
  
 

    <main id="main" class="main">

      <div class="pagetitle">
        <h1>Inicio</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
            <li class="breadcrumb-item active">Resultados</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
  

      <section class="section dashboard">
        <div class="row">
  
          <!-- Left side columns -->
          <div class="col-lg-8">
            <div class="row">
  
              <!-- Sales Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
  
  
                  <div class="card-body">
                    <h5 class="card-title">Viajes <span>| Hoy</span></h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-geo-alt-fill"></i>
                      </div>
                      <div class="ps-3">
                        <h6>14</h6>
                        <span class="text-success small pt-1 fw-bold">22%</span> <span class="text-muted small pt-2 ps-1">progreso</span>
  
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Sales Card -->
  
              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
  
                  <div class="card-body">
                    <h5 class="card-title">Conductores <span>| Este Mes</span></h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-truck"></i>
                      </div>
                      <div class="ps-3">
                        <h6>51</h6>
                        <span class="text-success small pt-1 fw-bold">78%</span> <span class="text-muted small pt-2 ps-1">activos</span>
  
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Revenue Card -->

             <!-- Recent Sales -->
             <div class="col-12">
              <div class="card recent-sales">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Top Conductores <span>| Mes</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Conductor</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Vehiculo</th>
                        <th scope="col">Km</th>
                        <th scope="col">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a><img src="assets/img/conductor-1.jpg" alt="Profile" class="rounded-circle"></a></th>
                        <td>Alipio Cabrera</td>
                        <td><a href="#" class="text-primary">Autobús de dos pisos</a></td>
                        <td>164</td>
                        <td><span class="badge bg-success">En curso</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a><img src="assets/img/conductor-2.jpg" alt="Profile" class="rounded-circle"></a></th>
                        <td>Jose Ramos</td>
                        <td><a href="#" class="text-primary">Bus Cama</a></td>
                        <td>447</td>
                        <td><span class="badge bg-warning">En Espera</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a><img src="assets/img/conductor-3.jpg" alt="Profile" class="rounded-circle"></a></th>
                        <td>Pablo Pando</td>
                        <td><a href="#" class="text-primary">Autobús de dos pisos</a></td>
                        <td>247</td>
                        <td><span class="badge bg-success">En Curso</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a><img src="assets/img/conductor-4.jpg" alt="Profile" class="rounded-circle"></a></th>
                        <td>Sierra Ferguson</td>
                        <td><a href="#" class="text-primar">Autobús de dos pisos.</a></td>
                        <td>67</td>
                        <td><span class="badge bg-danger">Finalizado</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a><img src="assets/img/conductor-5.jpg" alt="Profile" class="rounded-circle"></a></th>
                        <td>Raul Mamani</td>
                        <td><a href="#" class="text-primary">Bus Cama</a></td>
                        <td>165</td>
                        <td><span class="badge bg-success">En Curso</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->
          </div><!-- End Right side columns -->
        </div>
       </div>
    </section>