<div class="dialog">
    <div>
      <h1 mat-dialog-title>Product information</h1>
    </div>
  
    <div mat-dialog-content>
      <form [formGroup]="myForm">
  
        <!-- PRODUCT NAME -->
        <mat-form-field appearance="outline">
          <mat-label>Lugar de Partida</mat-label>
          <input formControlName="startPlace" matInput placeholder="Lugar de Partida">
        </mat-form-field>
  
        <!-- PRODUCT NAME -->
        <mat-form-field appearance="outline">
          <mat-label>Lugar de LLegada</mat-label>
          <input formControlName="endPlace" matInput placeholder="Lugar de LLegada">
        </mat-form-field>

      </form>
    </div>

    <span *ngIf="myForm.get('startPlace')?.hasError('required') && myForm.get('startPlace')?.touched" class="has-error"></span>
    <span *ngIf="myForm.get('endPlace')?.hasError('required') && myForm.get('endPlace')?.touched" class="has-error"></span>
    <!-- BUTTONS FOR SAVE AND CLOSE -->
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button class="cerrar" mat-dialog-close>Cerrar</button>
      <button mat-raised-button class="agregarAcualizar" [disabled]="myForm.invalid" (click)="addProduct()">{{actionBtn}}</button>
    </div>
  </div>