<div class="dialog">
  <div>
    <h1 mat-dialog-title>Informacion de ruta</h1>
  </div>

  <div mat-dialog-content>
    <form [formGroup]="myForm">
      

      <mat-form-field appearance="outline">
        <mat-label>Selecciona el Administrator</mat-label>
        <mat-select formControlName="idAdministrator" [(ngModel)]="adminSelected">
          <mat-option *ngFor="let admin of listAdmins" [value]="admin.id">
            {{admin.id}} - {{admin.names}} {{admin.surnames}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- PRODUCT NAME -->
      <mat-form-field appearance="outline">
        <mat-label>Lugar de inicio</mat-label>
        <input formControlName="startPlace" matInput placeholder="Inserte el lugar de inicio">
      </mat-form-field>

      <!-- PRODUCT NAME -->
      <mat-form-field appearance="outline">
        <mat-label>Lugar de llegada</mat-label>
        <input formControlName="endPlace" matInput placeholder="Inserte el lugar de llegada">
      </mat-form-field>
<!-- 
      <div class="table">
        <mat-form-field appearance="standard">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar tramo" #input>
        </mat-form-field>

        <div class="mat-elevation-z5">
          <table mat-table [dataSource]="dataSource" matSort>

            Checkbox Column
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            ID Column
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            Fruit Column
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let row"> {{row.description}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            Row shown when there is no matching data.
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No similar information found
              </td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select the number of items per page">
          </mat-paginator>
        </div>
      </div> -->

    </form>
  </div>

  <span *ngIf="myForm.get('Start Place')?.hasError('required') && myForm.get('Start Place')?.touched"
    class="has-error"></span>
  <span *ngIf="myForm.get('End Place')?.hasError('required') && myForm.get('End Place')?.touched"
    class="has-error"></span>

  <!-- BUTTONS FOR SAVE AND CLOSE -->
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button class="cerrar" mat-dialog-close>Cerrar</button>
    <button mat-raised-button class="agregarAcualizar" [disabled]="myForm.invalid"
      (click)="addProduct()">{{actionBtn}}</button>
  </div>
</div>