// Input information field
mat-form-field {
    width: 100%;
}

// BUTTONS
.agregarAcualizar {
    color: #ffffffff;
    font-weight: 500;
    background: #a06ac7;
    cursor: pointer;
}
.cerrar {
    color: #ffffffff;
    font-weight: 500;
    background: #ff628a;
    cursor: pointer;
}