<div class="dialog">
    <div>
      <h1 mat-dialog-title>Descripción del conductor</h1>
    </div>
  
    <div mat-dialog-content>
      <form [formGroup]="myForm">
  
        <mat-form-field appearance="outline">
          <mat-label>Seleccione el administrador</mat-label>
          <mat-select [(value)] = "adminSelected">
            <mat-option *ngFor="let admin of listAdmins" [value]="admin.id">
              {{admin.id}} - {{admin.names}} {{admin.surnames}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Seleccione el grupo</mat-label>
          <mat-select [(value)] = "groupSelected">
            <mat-option *ngFor="let group of listGroups" [value]="group.id">
              {{group.id}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- PRODUCT NAME -->
        <mat-form-field appearance="outline">
          <mat-label>Nombres</mat-label>
          <input formControlName="names" matInput placeholder="Inserte sus nombres">
        </mat-form-field>

        <!-- PRODUCT NAME -->
        <mat-form-field appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input formControlName="surnames" matInput placeholder="Inserte sus apellidos">
        </mat-form-field>
  
        <!-- PRODUCT DATE (Date Picker) -->
        <mat-form-field appearance="outline">
          <mat-label>Fecha de inicio</mat-label>
          <input formControlName="dateOfJoin" matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br><br>

        <!-- PRODUCT DATE (Date Picker) -->
        <mat-form-field appearance="outline">
            <mat-label>Fecha de cumpleaños</mat-label>
            <input formControlName="dateOfBirthday" matInput [matDatepicker]="picker2">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <br><br>
  
        <!-- PRODUCT FRESHNESS (Radio Button) -->
        <label for=""><h1>Estado</h1></label>
        <mat-radio-group formControlName="state" class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let state of states" [value]="state">{{state}}</mat-radio-button>
        </mat-radio-group>
        <br>

      </form>
    </div>

    <span *ngIf="myForm.get('names')?.hasError('required') && myForm.get('names')?.touched" class="has-error"></span>
    <span *ngIf="myForm.get('surnames')?.hasError('required') && myForm.get('surnames')?.touched" class="has-error"></span>  
    <span *ngIf="myForm.get('dateOfJoin')?.hasError('required') && myForm.get('dateOfJoin')?.touched" class="has-error"></span>  
    <span *ngIf="myForm.get('dateOfBirth')?.hasError('required') && myForm.get('dateOfBirth')?.touched" class="has-error"></span>  
    <span *ngIf="myForm.get('state')?.hasError('required') && myForm.get('state')?.touched" class="has-error"></span>  

    <!-- BUTTONS FOR SAVE AND CLOSE -->
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button class="cerrar" mat-dialog-close>Cerrar</button>
      <button mat-raised-button class="agregarAcualizar" [disabled]="myForm.invalid" (click)="addProduct()">{{actionBtn}}</button>
    </div>
  </div>