<mat-drawer-container>

    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>

    <mat-drawer-content>
        <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>

        <div class="main">

            <div class="container-fluid">
                <div class="page__box p-4">ADMINISTRADORES</div>
                <div class="page_content shadow p-3 position-relative">
                    <div class="page_content-data">

                        <main class="contenido">
                            <div class="administrator">
                                <div>
                                    <button mat-raised-button class="button" (click)="openDialog()">
                                        <mat-icon class="img_button">add_box</mat-icon> Añadir adminsitrador
                                    </button>
                                </div>

                                <div class="table">
                                    <mat-form-field appearance="standard" color="warn">
                                        <mat-label>Filtro de búsqueda</mat-label>
                                        <div class = "filtrocolor">
                                            <input matInput (keyup)="applyFilter($event)"
                                            #input>
                                        </div>
                                    </mat-form-field>

                                    <div class="mat-elevation-z5">
                                        <table mat-table [dataSource]="dataSource" matSort>

                                            <!-- ID Column -->
                                            <ng-container matColumnDef="id">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                            </ng-container>

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="names">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres
                                                </th>
                                                <td mat-cell *matCellDef="let row"> {{row.names}} </td>
                                            </ng-container>

                                            <!-- Fruit Column -->
                                            <ng-container matColumnDef="surnames">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos
                                                </th>
                                                <td mat-cell *matCellDef="let row"> {{row.surnames}} </td>
                                            </ng-container>

                                            <!-- Fruit Column -->
                                            <ng-container matColumnDef="email">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo Electrónico
                                                </th>
                                                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                                            </ng-container>

                                            <!-- Fruit Column -->
                                            <ng-container matColumnDef="phone">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono
                                                </th>
                                                <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
                                            </ng-container>

                                            <!-- Fruit Column -->
                                            <ng-container matColumnDef="nickname">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apodo
                                                </th>
                                                <td mat-cell *matCellDef="let row"> {{row.nickname}} </td>
                                            </ng-container>

                                            <!-- Fruit Column -->
                                            <ng-container matColumnDef="groups">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupos
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <button mat-icon-button class="more" (click)="getGroups(row)">
                                                        <mat-icon>receipt</mat-icon>
                                                    </button>
                                                </td>
                                            </ng-container>

                                            <!-- Fruit Column -->
                                            <ng-container matColumnDef="drivers">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Conductores
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <button mat-icon-button class="more" (click)="getDrivers(row)">
                                                        <mat-icon>receipt</mat-icon>
                                                    </button>
                                                </td>
                                            </ng-container>

                                            <!-- Fruit Column -->
                                            <ng-container matColumnDef="travels">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Viajes
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <button mat-icon-button class="more" (click)="getTravels(row)">
                                                        <mat-icon>receipt</mat-icon>
                                                    </button>
                                                </td>
                                            </ng-container>

                                            <!-- Fruit Column -->
                                            <ng-container matColumnDef="routes">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rutas
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <button mat-icon-button class="more" (click)="getRoutes(row)">
                                                        <mat-icon>receipt</mat-icon>
                                                    </button>
                                                </td>
                                            </ng-container>

                                            <!-- Fruit Column -->
                                            <ng-container matColumnDef="actions">
                                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <button mat-icon-button class="edit" (click)="edit(row)">
                                                        <mat-icon>edit</mat-icon>
                                                    </button>
                                                    <button mat-icon-button class="delete" (click)="delete(row.id)">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" colspan="4">No similar information found
                                                </td>
                                            </tr>
                                        </table>

                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                                            aria-label="Select the number of items per page"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </main>

                    </div>
                </div>
            </div>
        </div>

    </mat-drawer-content>

</mat-drawer-container>