// ------------------------------- App Component -------------------------------
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 300px;
    background: #000000;
  }
  
  mat-drawer-container {
    height: 100%;
  }
  
  
  // ------------------------------- Content -------------------------------
  .page {
    padding: 0 1rem;
    background: #a509ff;
  
    &__box  {
      height: 120px;
      max-width: auto;
      background: #0e0e0e;
      color: #0e0e0e;
      font-size: 36px;
      font-weight: 500;
      letter-spacing: 4px;
      text-align: center;
      -webkit-text-stroke: 2px #ff8000;
    }
  
    &_content {
      min-height: calc(100vh - 160px);
      border: 10px solid #000000;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      margin-top: -3rem;
      background: #424140;
      color: rgb(255, 255, 255);
    }
  }
  
  /* ---------- List ---------- */
  // General *
  .contenido {
    margin: 30px;
  }
  
  .button {
    background: #0e0e0e;
    color: #ff8000;
    padding-left: 15px;
    transition: 0.5s;
    vertical-align: 20px;
  }
  
  .button:hover {
    background: #ff8000;
    color: rgb(0, 0, 0);
    cursor: pointer;
  
  }
  
  .img_button {
    padding-right: 10px;
  }
  
  .h2 {
    display: inline-block;
    color: #ffffff;
    user-select: none;
    transition: 0.3s;
  }
  
  mat-label{
    color:#ff8000;
    border-radius: 10px;
  }
  
  .filtrocolor{
   color:#ffffff;
  }
  // Table
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 20%;
  }
  
  .table {
    margin: 0 auto;
  }
  
  .imgs-table {
    width: 40px;
    height: 40px;
    padding-top: 2px;
  }
  
  // Botones de acciones (dentro de la lista)
  .edit {
    color: #000000;
    cursor: pointer;
  }
  
  .delete {
    color: #ff0000;
    cursor: pointer;
  }
  
  .more {
    color: #ff8000;
    cursor: pointer;
  }
  
  .locate {
    color: #000000;
    cursor: pointer;
  }