<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Not Found 404</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

</head>

<body style="background-color: #FF4800">

  <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1 style="color: #ffffffcc">404</h1>
        <h2>Ups, algo no ha salido bien.</h2>
        <a class="btn" routerLink="/home">Volver al inicio</a>
        <img src="assets/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
        <div class="credits">
          Diseñado por Grupo TransLogic
        </div>
      </section>

    </div>
  </main><!-- End #main -->