<div class="dialog">
    <div>
      <h1 mat-dialog-title>Descripción del producto</h1>
    </div>
  
    <div mat-dialog-content>
      <form [formGroup]="myForm">
  
        <!-- PRODUCT NAME -->
        <mat-form-field appearance="outline">
          <mat-label>Seleccione el administrator</mat-label>
          <mat-select formControlName="adminSelected" [(ngModel)]="adminSelected">
            <mat-option *ngFor="let admin of listAdmins" [value]="admin.id">
              {{admin.names}} {{admin.surnames}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Seleccione el conductor</mat-label>
          <mat-select formControlName="driverSelected" [(ngModel)]="driverSelected">
            <mat-option *ngFor="let driver of listDrivers" [value]="driver.id">
              {{driver.names}} {{driver.surnames}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- PRODUCT PRICE (Input Numbers) -->
        <mat-form-field appearance="outline">
          <mat-label>Seleccione el vehiculo</mat-label>
          <mat-select formControlName="vehicleSelected" [(ngModel)]="vehicleSelected">
            <mat-option *ngFor="let vehicle of listVehicles" [value]="vehicle.id">
              {{vehicle.id}} - {{vehicle.kmTravelled}} Km
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- PRODUCT PRICE (Input Numbers) -->
        <mat-form-field appearance="outline">
          <mat-label>Seleccione la ruta</mat-label>
          <mat-select formControlName="routeSelected" [(ngModel)]="routeSelected">
            <mat-option *ngFor="let route of listRoutes" [value]="route.id">
              {{route.startPlace}} / {{route.endPlace}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- PRODUCT DATE (Date Picker) -->
        <mat-form-field appearance="fill">
          <mat-label>Fecha de inicio</mat-label>
          <input formControlName="dateOfStart" matInput [matDatepicker]="picker1">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br><br>

        <!-- PRODUCT DATE (Date Picker) -->
        <mat-form-field appearance="fill">
          <mat-label>Fecha de llegada</mat-label>
          <input formControlName="dateOfEnd" matInput [matDatepicker]="picker2">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <br><br>  

        <!-- PRODUCT PRICE (Input Numbers) -->
        <mat-form-field appearance="outline">
          <mat-label>Duration</mat-label>
          <input formControlName="duration" matInput type="number" placeholder="Duration">
        </mat-form-field>  

        <!-- PRODUCT FRESHNESS (Radio Button) -->
        <label for=""><h1>State</h1></label>
        <mat-radio-group formControlName="state" class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let state of states" [value]="state">{{state}}</mat-radio-button>
        </mat-radio-group>
        <br>

      </form>
    </div>

    <span *ngIf="myForm.get('dateOfStart')?.hasError('required') && myForm.get('dateOfStart')?.touched" class="has-error"></span>
    <span *ngIf="myForm.get('dateOfEnd')?.hasError('required') && myForm.get('dateOfEnd')?.touched" class="has-error"></span>
    <span *ngIf="myForm.get('state')?.hasError('required') && myForm.get('state')?.touched" class="has-error"></span>
  
    <!-- BUTTONS FOR SAVE AND CLOSE -->
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button class="cerrar" mat-dialog-close>Cerrar</button>
      <button mat-raised-button class="agregarAcualizar" [disabled]="myForm.invalid" (click)="addProduct()">{{actionBtn}}</button>
    </div>
  </div>