<div class="dialog">
    <div>
      <h1 mat-dialog-title>Product information</h1>
    </div>
  
    <div mat-dialog-content>
      <form [formGroup]="myForm">
  
        <!-- PRODUCT NAME -->
        <mat-form-field appearance="outline">
          <mat-label>ID Administrator</mat-label>
          <input formControlName="idAdministrator" matInput type = "number" placeholder="ID Administrator">
        </mat-form-field>
  
        <!-- PRODUCT NAME -->
        <mat-form-field appearance="outline">
          <mat-label>ID Driver</mat-label>
          <input formControlName="idDriver" matInput type = "number" placeholder="ID Driver">
        </mat-form-field>
  
        <!-- PRODUCT PRICE (Input Numbers) -->
        <mat-form-field appearance="outline">
          <mat-label>ID Travels Vehicles</mat-label>
          <input formControlName="idTravelsVehicles" matInput type="number" placeholder="ID Travels Vehicles">
        </mat-form-field>

        <!-- PRODUCT PRICE (Input Numbers) -->
        <mat-form-field appearance="outline">
          <mat-label>ID Route</mat-label>
          <input formControlName="idRoute" matInput type="number" placeholder="ID Route">
        </mat-form-field>  

        <!-- PRODUCT DATE (Date Picker) -->
        <mat-form-field appearance="fill">
          <mat-label>Date Of Start</mat-label>
          <input formControlName="dateOfStart" matInput [matDatepicker]="picker1">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br><br>

        <!-- PRODUCT DATE (Date Picker) -->
        <mat-form-field appearance="fill">
          <mat-label>Date Of End</mat-label>
          <input formControlName="dateOfEnd" matInput [matDatepicker]="picker2">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <br><br>  

        <!-- PRODUCT PRICE (Input Numbers) -->
        <mat-form-field appearance="outline">
          <mat-label>Duration</mat-label>
          <input formControlName="duration" matInput type="number" placeholder="Duration">
        </mat-form-field>  

        <!-- PRODUCT FRESHNESS (Radio Button) -->
        <label for=""><h1>State</h1></label>
        <mat-radio-group formControlName="state" class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let state of states" [value]="state">{{state}}</mat-radio-button>
        </mat-radio-group>
        <br>

      </form>
    </div>

    <span *ngIf="myForm.get('idAdministrator')?.hasError('required') && myForm.get('idAdministrator')?.touched" class="has-error"></span>
    <span *ngIf="myForm.get('idDriver')?.hasError('required') && myForm.get('idDriver')?.touched" class="has-error"></span>
    <span *ngIf="myForm.get('idTravelsVehicles')?.hasError('required') && myForm.get('idTravelsVehicles')?.touched" class="has-error"></span>
    <span *ngIf="myForm.get('idRoute')?.hasError('required') && myForm.get('idRoute')?.touched" class="has-error"></span>
    <span *ngIf="myForm.get('dateOfStart')?.hasError('required') && myForm.get('dateOfStart')?.touched" class="has-error"></span>
    <span *ngIf="myForm.get('dateOfEnd')?.hasError('required') && myForm.get('dateOfEnd')?.touched" class="has-error"></span>
    <span *ngIf="myForm.get('state')?.hasError('required') && myForm.get('state')?.touched" class="has-error"></span>
  
    <!-- BUTTONS FOR SAVE AND CLOSE -->
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button class="cerrar" mat-dialog-close>Cerrar</button>
      <button mat-raised-button class="agregarAcualizar" [disabled]="myForm.invalid" (click)="addProduct()">{{actionBtn}}</button>
    </div>
  </div>