




    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
          <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">TransLogic</span>
          </a>
          <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
  
        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">  
              <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                <span> Edward Paolo</span>
              </a><!-- End Profile Iamge Icon -->           
            </li><!-- End Profile Nav -->  
          </ul>
        </nav><!-- End Icons Navigation -->  
      </header><!-- End Header -->
    
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/home"> 
            <i class="bi bi-grid"></i><span>Inicio</span>
          </a>
        </li><!-- End Dashboard Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/travels">
            <i class="bi bi-geo-alt"></i><span>Viajes</span>
          </a>
        </li><!-- End Forms Nav -->
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/drivers">
            <i class="bi bi-truck"></i><span>Conductores</span>
          </a>
        </li><!-- End Profile Page Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/admins">
            <i class="bi bi-people"></i><span>Administradores</span>
          </a>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/horarios">
            <i class="bi bi-card-list"></i>
            <span>Horarios</span>
          </a>
        </li><!-- End horarios Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/faq">
            <i class="bi bi-question-circle"></i>
            <span>F.A.Q</span>
          </a>
        </li><!-- End F.A.Q Page Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/contact">
            <i class="bi bi-envelope"></i>
            <span>Contacto</span>
          </a>
        </li><!-- End Contact Page Nav -->
  
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/">
            <i class="bi bi-power"></i>
            <span>Cerrar Sesión</span>
          </a>
        </li><!-- End Login Page Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/error-404">
            <i class="bi bi-dash-circle"></i>
            <span>Error 404</span>
          </a>
        </li><!-- End Error 404 Page Nav -->

      </ul>
  
    </aside><!-- End Sidebar-->
    
      <main id="main" class="main">
        <div class="all">
          <div>
              <h2>Lista de conductores</h2>
          </div>
          <div>
              <button mat-raised-button color="warn" routerLink="/drivers-add-edit">Agregar</button>
          </div>
          <br>
          <div>
              <!-- FILTRO -->
              <mat-form-field appearance="fill" color="warn">
                  <mat-label>Búsqueda</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Buscar elemento..." #input>
              </mat-form-field>
              
              <!-- TABLA -->
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <!-- Columna 0 -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>
      
                  <!-- Columna 1 -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
                
                  <!-- Columna 2 -->
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                  </ng-container>
                
                  <!-- Columna 3 -->
                  <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef>Age</th>
                    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
          </div>
      </div>
    </main><!-- End #main -->